
#tituloHome{
    text-align: center;
    padding-top: 30px;
    font-size: 36px;
}

#subTituloHome{
    padding-top: 15px;
    text-align:left;
    margin-left: 7%;
}

#cardTemporadaSeis{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    display: block;
    width: 1230px;
    height: 700px;
    border-radius: 45px;
}

.paragrafoHome{
    padding: 10px;
}